.nav-extended {
    background-color: #680000;
}

.sidenav {
    background-color: #D6FFDC;
    height: calc(50% + 60px);
}

.flashes h4 {
    line-height: 2;
}

body {
    display: flex;
    height: 100%;
    background-color: #D6FFDC;
    min-height: 100vh;
    flex-direction: column;
    font-family: Roboto Slab;
    font-size: 17px;
    color: #2E3340;
}

.page-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #680000;
}

main {
    flex: 1 0 auto;
}
h1, h2, h3, h4, h5, h6,
.collapsible-header {
    color:#0300A3;
    margin: 2px;
}

.collapsible-header i{
    color:#680000
}

.btn-small,
.btn-flat {
    width: 110px;
    margin: 2px;
    padding: 0px 5px;
    color: #FFFFB0;
    font-family: Bodoni Moda;
    font-weight: 500;
    text-align: center;
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
    background-color: #0300A3;
}
 /* Modal */

.modal .modal-footer {
    text-align: center;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin: 6px
}

/* recipe card */

.recipe_card {
    background-color: #FFFFB0;
    font-family: Bodoni Moda;
    color: #2E3340;
    margin-top: 10px;
}

.btn-floating {
    text-align: center;
    color: #FFFFB0;
}

.card,
.card .card-action {
    padding: 10px;
}

.card .card-content {
    margin: 1px;
    padding: 15px;
}

.hoverable:hover {
    box-shadow: 0 8px 17px 0 rgb(104 0 0 / 80%),
    0 6px 20px 0 rgb(104 0 0 / 89%);
}

/* recipe view */

.main-view img {
   width: 100%;
   height: auto;
   padding: 5px;
}

.recipe-header {
    margin: 5px;
    padding: 10px;
}

.col-content {
    padding: 10px;
}

label {
    color: #2E3340;
    letter-spacing: .5px;
}

.row main-view {
    margin-top: 20px;
}

.tabs {
    background-color: transparent;
}

.tabs .tab a {
    padding: 5px;
    color: #0300A3;
    background-color: transparent;
}

.tabs
.indicator {
    background-color: #680000;
}

a {
    color: #680000;
}

.tabs .tab a:focus,
.tabs .tab a.active,
.tabs .tab a:hover,
.tabs .tab a:focus.active,
.tabs .tab a:hover.active {
    color: rgba(176, 11, 11, 1);
    background-color: transparent;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    font-weight: 600;
    color: antiquewhite;
}

/* Profile carousel */

.carousel-item {
    background-color: #FFFFB0;
}

.carousel .indicators .indicator-item {
    background-color: #55a561;
}

.carousel .indicators .indicator-item.active {
    background-color: #0300A3;
}

/* 404 error this style was made by Colorlib (https://colorlib.com) */

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  #notfound {
    position: relative;
    height: 100vh;
    background: #030005;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
  }
  
  .notfound .notfound-404 {
    position: relative;
    height: 180px;
    margin-bottom: 20px;
    z-index: -1;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50% , -50%);
        -ms-transform: translate(-50% , -50%);
            transform: translate(-50% , -50%);
    font-size: 224px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -12px;
    color: #030005;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
    letter-spacing: -20px;
  }
  
  
  .notfound .notfound-404 h2 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 2px 0px #8400ff;
    letter-spacing: 13px;
    margin: 0;
  }
  
  .notfound a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #ff005a;
    text-decoration: none;
    border: 2px solid;
    background: transparent;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .notfound a:hover {
    color: #8400ff;
  }
  
  @media only screen and (max-width: 767px) {
      .notfound .notfound-404 h2 {
          font-size: 24px;
      }
  }
  
  @media only screen and (max-width: 480px) {
    .notfound .notfound-404 h1 {
        font-size: 182px;
    }
  }