.nav-extended {
    background-color: #680000;
}

.flashes h4 {
    line-height: 2;
}

body {
    display: flex;
    height: 100%;
    background-color: #D6FFDC;
    min-height: 100vh;
    flex-direction: column;
    font-family: Roboto Slab;
}

.page-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #680000;
}

main {
    flex: 1 0 auto;
}

.recipe {
    background-color: #FFFFB0;
    font-family: Bodoni Moda;
}