<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Irish+Grover">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block style %}
    {% endblock %}
    <title>Simple Cooking</title>
</head>
<body>
    <header>
        <!-- top navbar -->
        <nav class="nav-extended text-shadow">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_recipes') }}" class="brand-logo">Simply Cooking</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('get_recipes') }}">Recipes</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('new_recipe') }}">New recipe</a></li>
                        <li><a href="{{ url_for('logout') }}">Log out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log in</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- mobile side navbar -->
        <ul class="right sidenav" id="mobile-demo">
            <li><h4 class="center-align"><a href="{{ url_for('get_recipes') }}" class="brand-logo">Simply Cooking</a></h4></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('get_recipes') }}">Recipes</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('new_recipe') }}">New recipe</a></li>
                <li><a href="{{ url_for('logout') }}">Log out</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Log in</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h5 class="light-yellow lighten-4 center-align">{{ message }}</h5>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2021 Piotr Wojniak
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block script %}
    {% endblock %}
</body>
</html>