{% extends "base.html" %}
{% block content %}

    <h4 class="center-align">Edit Recipe</h4>

    <div class="row recipe_card">
        <div class="container s12">
            <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                <!-- Recipe name -->
                <div class="row">
                    <div class="input-field col s12 m6 offset-m3">
                        <input id="recipe_name" name="recipe_name" type="text" minlength="1" maxlengths="15"
                            value="{{ recipe.recipe_name }}" class="validate" required>
                        <label for="recipe_name">
                            <i class="fas fa-pen-fancy"></i>
                            Title
                        </label>
                    </div>
                </div>
                <!-- Recipe description -->
                <div class="row">
                    <div class="input-field col s12 m6 offset-m3">
                        <input id="description" name="description" type="text" minlength="1" maxlengths="25"
                            value="{{ recipe.description }}" class="validate" required>
                        <label for="description">
                            <i class="fas fa-pen-fancy"></i>
                            description
                        </label>
                    </div>
                </div>
                <!-- Choice meal type, cooking time, servings person -->
                <div class="row">
                    <div class="input-field col s12 m4">
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled>Choose Category</option>
                            {% for category in categories %}
                                {% if category.category_name == recipe.category_name %}
                                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                                {% else %}
                                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="category_name">Type of meal</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <input id="cooking_time" name="cooking_time" type="text" minlength="1" maxlengths="3" pattern="^[0-9]$"
                            value="{{ recipe.cooking_time }}" class="validate" required>
                        <label for="cooking_time">
                            <i class="fas fa-hourglass-half"></i>
                            Time in minutes
                        </label>
                        <span class="helper-text" data-error="wrong" data-success="right">Please enter a number.</span>
                    </div>
                    <div class="input-field col s12 m4">
                        <input id="servings" name="servings" type="text" minlength="1" maxlengths="2" pattern="^[0-9]$"
                            value="{{ recipe.servings }}" class="validate" required>
                        <label for="servings">
                            <i class="fas fa-female"></i>
                                <i class="fas fa-male"></i>
                            Serving
                        </label>
                        <span class="helper-text" data-error="wrong" data-success="right">Please enter a number.</span>
                    </div>
                </div>
                <!-- Edit ingredients -->
                <div class="row">
                    <div class="input-field col s12 m6">
                        <textarea id="ingredients" name="ingredients" minlength="1" maxlengths="25"
                            class="materialize-textarea validate" required>
                            {{- recipe.ingredients|join(list) -}}
                        </textarea>
                        <label for="ingredients">
                            <i class="fas fa-tasks"></i>
                            Ingredients
                        </label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="image_url" name="image_url" type="text" minlength="5" pattern="https://.*"
                            value="{{ recipe.image_url }}"class="validate" required />
                        <label for="image_url">
                            <i id="photo-icon" class="fas fa-image"></i>
                            Add photo in URL format
                        </label>
                        <span class="helper-text" data-error="wrong" data-success="right">Please enter a direct URL to the Image.</span>
                    </div>
                </div>
                <!-- Edit steps -->
                <div class="input-field col s12 m8 offset-m2">
                    <textarea id="steps" name="steps" minlength="1" maxlengths="50"
                        class="materialize-textarea validate" required>
                        {{- recipe.steps|join(list) -}}
                    </textarea>
                    <label for="steps">
                        <i class="fas fa-tasks"></i>
                        Steps
                    </label>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="{{ url_for('get_recipes') }}" class="btn-small red hoverable darken-2 text-shadow">
                            Cancel <i class="fas fa-times-circle right"></i>
                        </a>
                        <button type="submit" class="btn-small light-blue hoverable darken-3 text-shadow">
                            Edit <i class="far fa-edit right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>-

{% endblock %}