{% extends "base.html" %}
{% block content %}

    <h4 class="center-align">New Recipe</h4>

    <div class="row">
        <div class="container recipe s12 m8 offset-m2">
            <form class="col s12" method="POST" action="">
                <div class="row">
                    <div class="input-field col s12 m4 offset-m4">
                        <i class="fas fa-pen-fancy prefix"></i>
                        <input id="recipe_name" name="recipe_name" type="text" 
                            minlenght="1" maxlenghts="15" class="validate" required>
                        <label for="recipe_name">Title</label>
                    </div>
                </div>
                <!-- Choice meal type, cooking time, servings person-->
                <div class="row">
                    <div class="input-field col s12 m4">
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected>Choose Category</option>
                            {% for categoty in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="category_name">Type of meal</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <input id="cooking_time" name="cooking_time" type="text" minlenght="1" maxlenghts="3" class="validate" required>
                        <label for="cooking_time">
                            <i class="fas fa-hourglass-half"></i>
                            Time in minutes
                        </label>
                    </div>
                    <div class="input-field col s12 m4">
                        <input id="servings" name="servings" type="text" minlenght="1" maxlenghts="3" class="validate" required>
                        <label for="servings">
                            <i class="fas fa-female"></i>
                            <form style="display: inline-block">
                                <i class="fas fa-male"></i>
                            </form>
                            Serving
                        </label>
                    </div>
                </div>
                <!-- Add ingredients-->
                <div class="row">
                    <div class="input-field col s12 m6 offset-m3">
                        <textarea id="ingredients" name="ingredients" minlenght="1" maxlenghts="25" class="materialize-textarea validate" required></textarea>
                        <label for="ingredients">
                            <i class="fas fa-tasks"></i>
                            Ingredients
                        </label>
                    </div>
                </div>
                <!-- Add methods-->
                <div class="row">
                    <div class="container">
                        <div class="input-field col s12 m6">
                            <textarea id="preparation" name="preparation" minlenght="1" maxlenghts="50" class="materialize-textarea validate" required></textarea>
                            <label for="preparation">
                                <i class="fas fa-tasks"></i>
                                Preparation
                            </label>
                        </div>
                        <div class="input-field col s12 m6">
                            <textarea id="steps" name="steps" minlenght="1" maxlenghts="15"class="materialize-textarea validate"></textarea>
                            <label for="steps">
                                <i class="fas fa-tasks"></i>
                                Steps
                            </label>
                        </div>
                    </div>
                </div>
                <!--Image URL-->
                <div class="row form-row">
                    <div class="input-field col s12 m4 offset-m4">
                        <i id="photo-icon" class="fas fa-image">add photo</i>
                        <input id="img_url" name="img_url" type="text" minlength="5" pattern="https://.*" class="validate" required />
                        <label for="img_url"></label>
                        <span class="helper-text" data-error="wrong" data-success="right">Please enter a valid URL.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-small light-blue darken-1 text-shadow">
                            Add Recipe <i class="fas fa-plus right prefix"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}