{% extends "base.html" %}
{% block content %}

  <h4 class="center-align">Recipes</h4>

  <div class="row s12 m6 offset-m3">
    <form action="{{ url_for('search') }}" method="post">
      <div class="row halign-wrapper center-align" class="col s12 m8">
        <div class="input-field col s12">
          <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
          <input type="text" name="query" id="query" minlength="3" class="validate" required>
          <label for="query">Search</label>
        </div>
        <div class="col s12">
          <a href="{{ url_for('get_recipes') }}" class="red darken-2 btn-small hoverable horizontal-align text-shadow">Reset</a>
          <button type="submit" class="btn-small light-blue hoverable darken-3 text-shadow">
            <i class="fas fa-search left"></i>Search
          </button>  
        </div>
      </div>
    </form>
  </div>

  {% if recipes|length > 0 %}
  <div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m4 xl3">
      <div class="card small recipe_card hoverable">
        <div class="card-image">
          <img src="{{ recipe.image_url }}" alt="Recipe image">
        </div>
        <div class="card-content">
          <h6>{{ recipe.recipe_name }}</h6>
          <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="btn-floating right hoverable light-blue darken-3">Cook</a>
          <p>{{ recipe.description }}</p>
          <p><i class="fas fa-hourglass-half"></i>&nbsp;{{ recipe.cooking_time }}&nbsp;minutes</p>
          <p>{{ recipe.author }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
    <h5 class="red-text text-darken-4 center-align">No Results Found</h5>
  {% endif %}

{% endblock %}