{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Register</h3>

    <div class="row">
        <form class="register col s12 m6 offset-m3" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-alt prefix light-blue-text text-darken-4"></i>
                        <input id="username" name="username" type="text" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-key prefix light-blue-text text-darken-4"></i>
                        <input id="password" name="password" type="password" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="btn-small amber lighten-2 text-shadow">
                        Register <i class="fas fa-user-plus"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="class s12">
            <p class="center-align">
                Already Registered?
                <a href="{{ url_for('login') }}" class="text-darken-4">Log In</a>
            </p>
        </div>
    </div>

{% endblock %}