{% extends "base.html" %}
{% block content %}

    <div class="card recipe_card">
        <div class="row main-view s12">
            <h4 class="recipe-header center-align">{{ recipe.recipe_name }}</h4>
            <div class="col s12 m6 left">
                <div class="card-image">
                    <img src="{{ recipe.image_url }}" alt="Recipe image">
                </div>
            </div>
            <div class="col s12 m6 center-align">
                <p class="recipe-desc">{{ recipe.description }}</p>
            </div>
            <div class="col s12 m6 center-align">
                <div class="col s4 m4 col-content">
                    <i class="fas fa-utensils"></i>&nbsp;{{ recipe.category_name }}
                </div>
                <div class="col s4 m4 col-content">
                    <i class="fas fa-hourglass-half"></i>&nbsp;{{ recipe.cooking_time }}
                </div>
                <div class="col s4 m4 col-content">
                    <i class="fas fa-female"></i>
                        <i class="fas fa-male"></i>
                        &nbsp;{{ recipe.servings }}
                </div>
            </div>
        </div>
        <!-- Card tab for display 3 category -->
        <div class="card-tab s12 center-align">
            <ul class="tabs m6">
                <li class="tab s4">
                    <a href="#ingredients" class="active">Ingredients</a>
                </li>
                <li class="tab s4">
                    <a href="#preparation">Preparation</a>
                </li>
                <li class="tab s4">
                    <a href="#steps">Steps</a>
                </li>
            </ul>
        </div>
        <!--Ingredients tab-->
        <div id="ingredients" class="col s12">
            {% if recipe.preparation|length > 0 %}
            <ul class="collection">
                {% for ingredient in recipe.ingredients %}
                <li class="collection-item">
                    <label>
                        <input class="ingredient-check" type="checkbox">
                        <span class="ingredient-text">{{ ingredient }}</span>
                    </label>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <!-- Preparation tab -->
        <div id="preparation" class="col s12">
            {% if recipe.preparation|length > 0 %}
            <ul class="collection">
                {% for preparation in recipe.preparation %}
                <li class="collection-item">
                    <label>
                      <input class="preparation-check" type="checkbox">
                      <span class="preparation-text">{{ preparation }}</span>
                    </label>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <!-- Steps tab -->
        <div id="steps" class="col s12">
            {% if recipe.steps|length > 0 %}
            <ul class="collection">
                {% for step in recipe.steps %}
                <li class="collection-item">
                    <label>
                      <input class="steps-check" type="checkbox">
                      <span class="steps-text">{{ step }}</span>
                    </label>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% if session.user|lower == recipe.author|lower %}
        <div class="card-action center-align">
          <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small green hoverable darken-2">Edit</a>
          <!-- Modal Trigger for delete button-->
          <button data-target="{{ recipe._id }}" class="btn-small modal-trigger red hoverable darken-2">Delete</button>
          <!-- Modal Structure for confirm deleting-->
          <div id="{{ recipe._id }}" class="modal">
            <div class="modal-content">
              <h5>Want to delete this recipe, are you sure?</h5>
              <p>After deletion, recovery will not be possible</p>
            </div>
            <div class="modal-footer">
              <a href="#" class="modal-close hoverable green darken-2 btn-flat">Cancel</a>
              <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="del-btn hoverable red darken-4 btn-flat">Delete</a>
            </div>
          </div>
        </div>
        {% endif %}
    </div>

{% endblock %}