{% extends "base.html" %}
{% block content %}

    <div class="card recipe">
        <div class="card-image">
            <img src="#" alt="Recipe image">
        </div>
        <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-tabs">
            <ul class="tabs s12 m9">
                <li class="tab"><a href="#test4">Ingredients</a></li>
                <li class="tab"><a href="#test5">Preparation</a></li>
                <li class="tab"><a href="#test5">Steps</a></li>
            </ul>
        </div>
        <div class="card-content grey lighten-4">
            <div id="ingredients">Test 1</div>
            <div id="preparation">Test 2</div>
            <div id="steps">Test 2</div>
        </div>
    </div>

{% endblock %}